<a (click)="closeDialog()"><img src="assets/img/close.png" style="height: 12px; float: right;"></a>
<h1 class="text-center">About Promevo</h1>
<p class="text-center" style="padding: 0 100px;">
	
	Why Promevo? Promevo is one of the largest Chrome Devices and Premier G Suite Resellers in <br/> North America. Google regularly works with resellers to handle order fulfillments. Promevo is a <br> trusted Google reseller that can fulfill orders quickly for customers.
</p>
<mat-divider></mat-divider><br/>
<table style="width:100%" border="0" cellspacing="1">
          <tr>
          <th style="font-size: 20px; color: #666;">
          	<img src="assets/img/phone.png" style="background-size: 26px;">&nbsp;
          <strong>Call</strong></th>
          <th style="font-size: 20px; color: #666;">
          	<img src="assets/img/chat.png" style="background-size: 26px;">&nbsp;
          	<strong>Live Chat</strong></th>
          <th style="font-size: 20px; color: #666;">
          	<img src="assets/img/email.png" style="background-size: 26px;">&nbsp;
          	<strong>Email</strong></th>
          <th style="font-size: 20px; color: #666;">
          	<img src="assets/img/acart.png" style="background-size: 26px;">&nbsp;
          	<strong>Returns</strong></th>
          </tr>
          <tr>
            <td rowspan="2">
                <span style="font-size: 15px; color: #999;">Toll Free line: +1 (888) 380-1061</span>
            </td>
          </tr>
        <tr>
          <td> <a>Start a Conversation</a> </td>
          <td><a>salessupport@promevo.com</a></td>
          <td><a>Return Policy</a></td>
        </tr>
      </table>