<app-header></app-header>
<br/>
<div class="heading">
        <div style="max-width: 75%;">
            <div fxLayout="row wrap" class="filelistss" fxLayoutGap="10px">
                <div  fxFlex="55%" >
                    <mat-card>
                      <h2>Hangouts Meet Speakermic (Black)</h2>
                      <p style="font-family: 'Lato', sans-serif;font-size:35px; display:inline;">$287.93</p>
                      <p>Hangouts Meet Speakermic - 90MA0000-P00030</p>
                      <p>The ASUS Hangouts Meet Speakermic brings distraction-free meetings to every conference room. The Hangouts Meet speakermic is designed and built by Google from the ground up to deliver rich, immersive, crystal-clear 360 sound. It intelligently reduces echo and actively manages background noise. Each speakermic has four microphones to ensure clear pickup from up to 20 feet. Best-in-test echo cancellation ensures full-duplex communication without noise, echo or reverberation. Daisychain up to 5 Hangouts Meet speakermics together with a single cable to deliver high-quality audio across any size table.</p>
                      <p>Cabling is made easy: the speakermics connect via ethernet and only the first device requires external power. Each Hangouts Meet speakermic has one micro USB port, one power adapter, and 2 ethernet ports for daisychaining. Best of all, your Hangouts Meet speakermic is always up to date and improving with automatic, over the air firmware updates from Google.</p>
                    </mat-card>
                </div>
                <div fxFlex="10%"></div>
                <div  fxFlex="30%" >
                    <mat-card style="height:230px;">
                        <b>Hangouts Meet Speakermic (Black)</b>
                        <ul>
                            <li> Color: Black </li>
                            <li> Maximum Output Range: Output up to 20 feet</li>
                            <li>Ability to Daisychain: Up to 5 speakermics together</li>
                        </ul><br/><br/>
                        <br/><br/>
                        <b>$287.93</b> as configured<br/><br/>
                        QTY &nbsp;<input style="width:50px;" type="number" name="" value="1">
                         &nbsp; &nbsp;
                        <button _ngcontent-hhi-c2="" class="butn" (click)="cartPage()" >Add to Cart</button>
                    </mat-card>
                </div>
            </div>
        </div>

</div>
