<header>
  <div class="container">
    <div class="right">
      <div class="search-container">
          <input id="navSearchInput" class="expanded" placeholder="Search Shop Storeapps" type="text">
          <button class="btn">
            <img src="">
          </button>
      </div>
    </div>
    <div class="left">
        <a href="//www.google.com/work/chrome/">
          <img src"" >
        </a>
    </div>
  </div>
  <button class="btn"> Contact Us</button>
  
</header>
<br/>

 <nav class="">
  <div class="container">
    <ul>
       <li class="menuitem"> 
         why Storeapps
         <span class="separator"></span>
        </li>
        <li class="active"> Products</li>
    </ul>
  </div>
  <div class="right">
      <ul>
        <li> Sign In</li>
        <li> Cart Image </li>
      </ul>
  </div>
</nav> 


  <h1> Shop on StoreApps </h1>
<!-- <mat-card>Simple card</mat-card> -->
