<header>
  <div class="container">
    <div class="search-container" style="float:right; display: inline-block; margin-top: 6px; text-align: right; padding-right: 17%;">
          <input id="navSearchInput" class="expanded" placeholder="Search Shop Storeapps" type="text">
          <button class="btn"><i class="fa fa-search"></i></button>&nbsp;
          <button class="btn" style="margin-right: -25%;">Contact us</button>
    </div>
    
    <div style="padding-left:19%; margin-bottom: -10px;">
        <a href="//www.google.com/work/chrome/">
          <img src="assets/img/storeapps_logo.png" width="220" >
        </a>
    </div>
  </div>
</header>


 <nav class="nav">
  <div class="container">
    <ul style="padding-left: 19%;">
       <li> why Storeapps? <span class="separator"></span> </li>
       &nbsp;
       <li class="active">All Products</li>
    </ul>
    <div style="float: right; padding-right: 13%; margin-top: -51px;">
      <ul>
        <li style="padding-top: 4px;"> Sign In </li>
       <li> <a href=""> <img src="assets/img/cart.png" width="25"> </a> </li>
      </ul>
    </div>
  </div>
</nav> 

<div class="heading">
  <h1> Shop on StoreApps </h1>
  <h4 style="font-weight: lighter;">Find the right product for your workplace (fulfilled by Promevo).</h4>
  <div style="max-width: 65%;">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="6" rowHeight="2:1">
            <mat-grid-tile>
              <h4> Category </h4> &nbsp;
                <select>
                    <option> Mobile </option>
                    <option> Clothes </option>
                    <option> PS$ Games </option>
                </select>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4> Discount </h4> &nbsp;
                <select>
                    <option> 10 % </option>
                </select>
            </mat-grid-tile>
            <mat-grid-tile>
             <h4> Processor</h4> &nbsp;
                <select>
                    <option> 3</option>
                </select>
            </mat-grid-tile>
            <mat-grid-tile>
             <h4> Storage </h4>  &nbsp;
                <select>
                    <option> 4</option>
                </select>
            </mat-grid-tile>
            <mat-grid-tile>
             <h4> Seller </h4>  &nbsp;
                <select>
                    <option> 5</option>
                </select>
            </mat-grid-tile>
            <mat-grid-tile>
              Test &nbsp;
                <select>
                    <option> 6</option>
                </select>
            </mat-grid-tile>  
        </mat-grid-list>
      </mat-expansion-panel>
     
    </mat-accordion> 
  </div>

  <!-- <div *ngIf="expanded == true">
      <mat-card  class="filtercategory"> Category </mat-card>
  </div> -->
</div>

  

    


  