
<app-header></app-header>
  <div class="heading">
    <h1> Shop StoreApps </h1>
    <p style="line-height: 0">Find the right product for your workplace (fulfilled by <a (click)="openDialog()"> Promevo </a>).</p>
    <div style="max-width: 65%;">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <table style="width:100%" border="0" cellspacing="3">
          <tr>
            <th style="font-weight: normal; font-size: 16px;">Category</th>
            <th style="font-weight: normal; font-size: 16px;">Screen Size</th>
            <th style="font-weight: normal; font-size: 16px;">Ram</th>
            <th style="font-weight: normal; font-size: 16px;">Processor</th>
            <th style="font-weight: normal; font-size: 16px;">Resoultion</th>
            <th style="font-weight: normal; font-size: 16px;">Storage</th>
            <th style="font-weight: normal; font-size: 16px;">Manufacture</th>
          </tr>
          <tr>
              <td style="width: 18%;">
                  <select class="filterdropdown" (change)="selectChangeHandler($event)">
                      <option *ngFor="let xs of categorys" value="{{xs.name}}"> {{ xs.name }} </option>
                  </select>
              </td>
              <td>
              <select class="filterdropdown"   (change)="onSelectt($event)" >
                    <option *ngFor="let ds of discount" value="{{ds.value}}"> {{ ds.value }} </option>
              </select>
            </td>
            <td>
              <select class="filterdropdown" (change)="onSelectRam($event)">
                       <option *ngFor="let rs of ram" value="{{rs.value}}"> {{ rs.value }} </option>
                </select>
            </td>
             <td>
              <select class="filterdropdown" (change)="selectProcessor($event)">
                    <option *ngFor="let pr of processor" value="{{pr.id}}"> {{ pr.value }} </option>
              </select>
            </td>
            <td>
               <select class="filterdropdown" (change)="selectResolution($event)">
                  <option *ngFor="let res of resolution" value="{{res.id}}"> {{ res.value }} </option>
              </select>
            </td>
            <td>
               <select class="filterdropdown" (change)="onselectStorage($event)">
                  <option *ngFor="let st of storage" value="{{st.id}}"> {{ st.value }} </option>
              </select>
            </td>
             <td>
               <select class="filterdropdown" (change)="onselectManfucture($event)">
                  <option *ngFor="let man of manufacturer" value="{{man.id}}"> {{ man.value }} </option>
              </select>
            </td>
          </tr>
      </table>


      <table style="width:100%" border="0" cellspacing="3">
          <tr>
              <td style="width: 18%;">
                  <mat-checkbox [(ngModel)]="checked">Backlit Keyboard</mat-checkbox>
              </td>
              <td style="width: 14%;">
                  <mat-checkbox >Touch Screen</mat-checkbox>
            </td>
            <td style="width: 9%;">
              Price Range
            </td>
             <td rowspan="2" style="width: 45%; padding-bottom: 24px;">
                <ng5-slider  [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            </td>

             <td style="padding-left:10px;">
                <button class="button button4" (click)="resetBtn()">Reset</button>
            </td>
          </tr>
      </table>



        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="font-size: 18px;padding-left: 96%;">Filter</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf='checked' style="padding-top:50px;">
      No results found. Please try different configurations.
    </div>
    <div *ngIf='!checked'>
      <div class="row" (click)="allProductPage()" style="max-width: 82%; cursor: pointer;">
        <div class="column">
          <table style="width:100%" border="0" cellspacing="3" cellpadding="4">
            <tr>
              <th colspan="2">
                <h2>Hangout Meet Hardware</h2>
              </th>
            </tr>
            <tr>
              <th>
                <mat-card style="width:200px; height:270px;">
                  <img src="assets/img/product2.png" class="productimg">
                  <mat-card-content>
                    <p style="font-family:RobotoDraft,arial,sans-serif; font-weight: lighter;">
                      Hangout Meet SpeakerMic (Black)<br/><br/>
                      <b> $ 28.93 </b>
                  </p>
                </mat-card-content>
               </mat-card>
              </th>
              <th>
                <mat-card style="width:200px; height:270px;">
                  <img src="assets/img/product2.png" class="productimg">
                  <mat-card-content>
                    <p style="font-family:RobotoDraft,arial,sans-serif; font-weight: lighter;">
                      Hangout Meet SpeakerMic (Black)<br/><br/>
                      <b> $ 287.93 </b>
                  </p>
                </mat-card-content>
               </mat-card>
              </th>
              <th>
                <mat-card style="width:200px; height:270px;">
                  <img src="assets/img/product2.png" class="productimg">
                  <mat-card-content>
                    <p style="font-family:RobotoDraft,arial,sans-serif; font-weight: lighter;">
                      Hangout Meet SpeakerMic (Black)<br/><br/>
                      <b> $ 287.93 </b>
                  </p>
                </mat-card-content>
               </mat-card>
              </th>
              <th>
                <mat-card style="width:200px; height:270px;">
                  <img src="assets/img/product2.png" class="productimg">
                  <mat-card-content>
                    <p style="font-family:RobotoDraft,arial,sans-serif; font-weight: lighter;">
                      Hangout Meet SpeakerMic (Black)<br/><br/>
                      <b> $ 287.93 </b>
                  </p>
                </mat-card-content>
               </mat-card>
              </th>
              <th style="padding-left: 5%;">
                <p style="font-size: 10.2px;">See all the items in this category.</p>
                <button mat-raised-button color="primary">View more</button>
              </th>
            </tr>
          </table>
          </div> <!-- checkbox -->
          
        </div>
      </div>
      
      <br>
      <div class="row" *ngIf="category=='Hagouts Meet Hardware' && !checked" style="max-width:82%">
        <div class="column">
          <mat-card class="example-card" style="width:200px; height:270px;">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card" style="width:200px; height:270px;">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMi
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card" style="width:200px; height:270px;">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card" style="width:200px; height:270px;">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
<p class="text-center">Don't see what you want?<a (click)="openDialog()"> Contact Promevo. </a> </p>
<br>




<footer-page></footer-page>
