
<app-header></app-header>
  <div class="heading">
    <h1> Shop StoreApps </h1>
    <p style="line-height: 0">Find the right product for your workplace (fulfilled by <a (click)="openDialog()"> Promevo </a>).</p>
    <div style="max-width: 65%;">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <table style="width:100%" border="0" cellspacing="3">
          <tr>
            <th style="font-weight: normal; font-size: 16px;">Category</th>
            <th style="font-weight: normal; font-size: 16px;">Screen Size</th>
            <th style="font-weight: normal; font-size: 16px;">Ram</th>
            <th style="font-weight: normal; font-size: 16px;">Processor</th>
            <th style="font-weight: normal; font-size: 16px;">Resoultion</th>
            <th style="font-weight: normal; font-size: 16px;">Storage</th>
            <th style="font-weight: normal; font-size: 16px;">Manufacture</th>
          </tr>
          <tr>
              <td style="width: 18%;">
                  <select class="filterdropdown" (change)="selectChangeHandler($event)">
                      <option *ngFor="let xs of categorys" value="{{xs.name}}"> {{ xs.name }} </option>
                  </select>
              </td>
              <td>
              <select class="filterdropdown"   (change)="onSelectt($event)" >
                    <option *ngFor="let ds of discount" value="{{ds.value}}"> {{ ds.value }} </option>
              </select>
            </td>
            <td>
              <select class="filterdropdown" (change)="onSelectRam($event)">
                       <option *ngFor="let rs of ram" value="{{rs.value}}"> {{ rs.value }} </option>
                </select>
            </td>
             <td>
              <select class="filterdropdown" (change)="selectProcessor($event)">
                    <option *ngFor="let pr of processor" value="{{pr.id}}"> {{ pr.value }} </option>
              </select>
            </td>
            <td>
               <select class="filterdropdown" (change)="selectResolution($event)">
                  <option *ngFor="let res of resolution" value="{{res.id}}"> {{ res.value }} </option>
              </select>
            </td>
            <td>
               <select class="filterdropdown" (change)="onselectStorage($event)">
                  <option *ngFor="let st of storage" value="{{st.id}}"> {{ st.value }} </option>
              </select>
            </td>
             <td>
               <select class="filterdropdown" (change)="onselectManfucture($event)">
                  <option *ngFor="let man of manufacturer" value="{{man.id}}"> {{ man.value }} </option>
              </select>
            </td>
          </tr>
      </table>


      <table style="width:100%" border="0" cellspacing="3">
          <tr>
              <td style="width: 18%;">
                  <mat-checkbox [(ngModel)]="checked">Backlit Keyboard</mat-checkbox>
              </td>
              <td style="width: 14%;">
                  <mat-checkbox >Touch Screen</mat-checkbox>
            </td>
            <td style="width: 9%;">
              Price Range
            </td>
             <td rowspan="2" style="width: 45%; padding-bottom: 24px;">
                <ng5-slider  [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            </td>

             <td style="padding-left:10px;">
                <button class="button button4">Reset</button>
            </td>
          </tr>
      </table>

        <!-- <div fxLayout="row wrap" class="filelistss" fxLayoutGap="10px">
          <div  fxFlex="20%" > <mat-checkbox [(ngModel)]="checked">Backlit Keyboard</mat-checkbox> </div>
          <div  fxFlex="20%" > <mat-checkbox >Touch Screen</mat-checkbox> </div>
          <div  fxFlex="20%" > Price Range </div>
          <div  fxFlex="20%" > <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider> </div>
          <div  fxFlex="10%" >  <button mat-stroked-button color="primary">Reset</button> </div>
        </div> -->

      <!-- <table style="width:100%" border="1">
          <tr>
            <td style="font-weight: normal; font-size: 16px;"><mat-checkbox [(ngModel)]="checked">Backlit Keyboard</mat-checkbox></td>
            <td style="font-weight: normal; font-size: 16px;"><mat-checkbox>Touch Screen</mat-checkbox></td>
            <td style="text-align: center; font-weight: normal; font-size: 16px;">Price Range</td>
            <td><ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider> </td>
            <td>Backlit Keyboard</td>
          </tr>
      </table>
      <div *ngIf='checked'>
        FUCK
      </div> -->


       <!--  <mat-grid-list cols="5" rowHeight="2:1">
        <mat-grid-tile><mat-checkbox>Backlit Keyboard</mat-checkbox></mat-grid-tile>
        <mat-grid-tile><mat-checkbox>Touch Screen</mat-checkbox></mat-grid-tile>
        <mat-grid-tile>Price Range
        </mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
 -->





        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="font-size: 18px;padding-left: 96%;">Filter</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf='checked' style="padding-top:50px;">
      No results found. Please try different configurations.
    </div>
    <div *ngIf='!checked'>
    <h2 >Hangout Meet Hardware</h2>
      <div class="row" (click)="allProductPage()" style="max-width: 90%; cursor: pointer;">
        <div class="column">
          <mat-card class="example-card">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card">
            <img mat-card-image class="productimg" src="assets/img/product3.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card">
            <img mat-card-image class="productimg" src="assets/img/product5.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
          </div> <!-- checkbox -->
        </div>
      </div>
      <br>
      <div class="row" *ngIf="category=='Hagouts Meet Hardware'" style="max-width:90%">
        <div class="column">
          <mat-card class="example-card">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="column">
          <mat-card class="example-card">
            <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Hangout Meet SpeakerMic
              </p>
            </mat-card-content>
            <mat-card-actions>
              <b> $ 249.00 </b>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
<p class="text-center">Don't see what you want?<a (click)="openDialog()"> Contact Promevo. </a> </p>
<br>




<footer-page></footer-page>
