
<app-header></app-header>
  <div class="heading">
    <h1> Shop StoreApps </h1>
    <p style="line-height: 0">Find the right product for your workplace (fulfilled by <a (click)="openDialog()"> Promevo </a>).</p>
    <div style="max-width: 65%;">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <table style="width:100%" border="0" cellspacing="5">
          <tr>
          <th style="font-weight: normal; font-size: 16px;">Category</th>
          <th style="font-weight: normal; font-size: 16px;">Screen Size</th>
          <th style="font-weight: normal; font-size: 16px;">Ram</th>
          <th style="font-weight: normal; font-size: 16px;">Processor</th>
          <th style="font-weight: normal; font-size: 16px;">Resoultion</th>
          <th style="font-weight: normal; font-size: 16px;">Storage</th>
          </tr>
          <tr>
            <td rowspan="2">
                <select class="filterdropdown" (change)="selectChangeHandler($event)">
                    <option></option>
                    <option *ngFor="let xs of categorys" value="{{xs.name}}"> {{ xs.name }} </option>
                </select>
            </td>
          </tr>
        <tr>
          <td>
            <select class="filterdropdown" (change)="selectChangeHandler($event)">
                  <option></option>
                  <option *ngFor="let xs of categorys" value="{{xs.name}}"> {{ xs.name }} </option>
            </select>
          </td>
          <td>
            <select class="filterdropdown" (change)="selectChangeHandler($event)">
                    <option></option>
                    <option *ngFor="let xs of categorys" value="{{xs.name}}"> {{ xs.name }} </option>
              </select>
          </td>
          <td>
            <select class="filterdropdown" (change)="selectChangeHandler($event)">
                  <option></option>
                  <option *ngFor="let xs of categorys" value="{{xs.name}}"> {{ xs.name }} </option>
            </select>
          </td>
          <td>
             <select class="filterdropdown" (change)="selectChangeHandler($event)">
                <option></option>
                <option *ngFor="let xs of categorys" value="{{xs.name}}"> {{ xs.name }} </option>
            </select>
          </td>
          <td>
             <select class="filterdropdown" (change)="selectChangeHandler($event)">
                <option></option>
                <option *ngFor="let xs of categorys" value="{{xs.name}}"> {{ xs.name }} </option>
            </select>
          </td>
        </tr>
      </table>
      <br/>

      <table style="width:100%" border="0" cellspacing="1">
          <tr>
          <th style="font-weight: normal; font-size: 16px;"><mat-checkbox>Backlit Keyboard</mat-checkbox></th>
          <th style="font-weight: normal; font-size: 16px;"><mat-checkbox>Touch Screen</mat-checkbox></th>
          <th style="font-weight: normal; font-size: 16px;">Price Range</th>
         
          </tr>
      </table>


        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="font-size: 18px;padding-left: 96%;">Filter</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
    </div>

  <h2 >Hangout Meet Hardware</h2>
  <div class="aligned">
  <mat-card class="example-card">
    <img mat-card-image class="productimg" src="assets/img/product2.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Hangout Meet SpeakerMic
      </p>
    </mat-card-content>
    <mat-card-actions>
      <b> $ 249.00 </b>
    </mat-card-actions>
  </mat-card>
  </div>
  </div>
