/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body, html {

	background: #f9f9f9;
    color: #333;
    font: 300 16px/1.6 RobotoDraft,arial,sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-rendering: optimizeLegibility;
}
.search{
	padding-left: 30px;
}
h1,h2,h3{
	font-weight: 300;
}

a {
	color:#2387f3;
	text-decoration: none;
	cursor: pointer;

}
hr{
	background-color: #4285f4;
    height: 2px;
    margin: 0;
    width: 100px;
}

.sep{
	background: #e4e4e4;
    margin-top: 12px;
    border: 1px solid #e4e4e4;
    height: 19px;

}


header {
    background-color: #f5f5f5;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
	padding: 15px 0;
}

	nav {
		background: #fff;
		border-bottom: 1px solid #ddd;
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		display: block;
		line-height: 40px;
	}

	.right {
		float: right;
		padding: 2%;
		margin-right: 10%;
	}
	.search-container{
		text-align: left;
		width: 305px;
	}
	.placeholder {
		border: 1px solid #d3d3d3;
		border-radius: 2px 0 0 2px;
		display: inline-block;
		font-size: 14px;
		margin-top: 0;
		min-height: 35px;
		outline: 0;
		padding: 0 5px;
		width: 210px;
	}
	input[type=email], input[type=number], input[type=text], select, textarea {
		border: 1px solid #ddd;
		box-sizing: border-box;
		font-family: 'Lato', sans-serif;
		max-width: 100%;
		padding: 11px ;
		min-height: 36px;
		width: 75%;
	}



	.btn {
		border-radius: 2px;
		background-color: #3a7efb;
		display: inline-block;
		font-weight: 700!important;
		font: 13px 'Lato', sans-serif;
		border: 1px solid #3079ed;
  	color: #fff;
		font:13px RobotoDraft,arial,sans-serif;
		text-shadow: 0 -1px 0 rgba(0,0,0,.08);
    transition: all 183ms ease;
  	padding: 10px 14px;
  	font-size: 16px;
  	cursor: pointer;
		background-color: #3a7efb;
		background-image: linear-gradient(to bottom,#4d90fe,#4787ed);
}


	nav li.menuitem {
		-ms-flex-align: center;
		align-items: center;
		display: -ms-inline-flexbox;
		font-family: 'Lato', sans-serif;
		display: inline-flex;
		flex-flow: row wrap;
		padding-left: 18%;
	}


	nav ul li {
		font-weight: 400;
		margin-right: 20px;
	}

	nav a {
		color: inherit;
		padding: 10px 0;
		text-decoration: none;
		transition: color 183ms ease;
	}
	nav li.menuitem .separator {
		background: #e4e4e4;
		height: 20px;
		margin-left: 20px;
		width: 2px;
	}

nav li.active{
  padding-bottom: 6px;
    border-bottom: 4px solid #2387f3
}

.text-center {
	text-align: center;
}

.heading {
	text-align: left;
	margin-bottom: 1px;
	position: relative;
	left: 19%;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.filtercard{
	max-width: 100px;
	margin-left: 60%;
}

.filterbox {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	display: block;
	height: 45px;
}
h4 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}


.example-card {
  max-width: 400px;
}

.text-center {
	text-align: center;
}

.aligned {

    max-width: 20%;
    max-height: 20%;
    padding-top: 1%;
    cursor: pointer;
    margin-bottom: 10%;


}

/* PRODUCT CARD CSS
/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -5px;
	max-width: 80%;
}
.column {
  float: left;
  width: 22%;
  padding: 0 10px;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.productimg {
	padding: 27px 10px;
    max-width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.filterdropdown {
	background-color: #fff;
	width: 100%;
	height: 50px;
	outline: 0;
	font: 300 16px/1.6 RobotoDraft,arial,sans-serif;
}


footer{
	background-color: #454545;
	padding-left: 19%;
}

footer .container {
	padding-bottom: 40px;
	padding-top: 25px;

}

.container {
	margin: 0 auto;
	padding: 0 20px;
}

.ftxt{
	color: #a3a3a3;
	line-height: 23px;
	float: left;
	margin: 0 20px 0 0;
	font-size: 14px;
	font-weight: 400;

}

.fhr {
	width: 86%;
	background-color: #f9f9f9;
	height: 1px;
	border: 0;

}


footer h4 {

	color: #fff;
	font-size: 18px;
	float: left;
	font-weight: 400;
	font: 300 16px/1.6 RobotoDraft,arial,sans-serif;
}


.footerli {
	color: #848484;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	transition: color .2s ease-out;
}

.newsletter {
background: #fff;
padding: 1em 0;

}


.newsletter h2 {
	color: #63666a;
	font-size: 2.625rem;
	margin: 0 0 5px;
}
