<app-header></app-header>


<div class="" style="background:#f5f5f5">

		<div style="padding-left:19%">
			<h1 style="max-width: 45%; font-size:40px;">Business is better on <br/>Chromebooks</h1><hr>
			<p> Powered by Chrome OS, Chromebooks make it easier for your business to <br>
				work faster, smarter and more securely, wherever you are.</p>
				<button type="button" class="btn" name="button">Buy Now</button>
					<img style="width:46%;padding-left:55%; margin-top:-15%" src="assets/img/h1.jpg">
		</div>
</div>
